@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

@import "tailwindcss";

.font-roboto {
  font-family: "Roboto Slab", serif;
}

/* Base button styles */
.buttons {
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;

  font-size: 16px;
  padding: 8px 16px;
}

@media (min-width: 640px) {
  .buttons {
    font-size: 18px;
    padding: 10px 20px;
  }
}

@media (min-width: 768px) {
  .buttons {
    font-size: 20px;
    padding: 12px 24px;
  }
}

/* === Apply Now button styles === */
.btn-apply {
  background-color: #008080;
  color: white;
}

.btn-apply:hover {
  background-color: #006666;
}

/* === Learn More button styles === */
.btn-learn {
  border: 1px solid #008080;
  color: #008080;
  background-color: transparent;
}

.btn-learn:hover {
  background-color: #006666;
  color: white;
}
